doctype html
html.no-js(lang="ru")
	include templates/structure/head
	body
		main
			div.gulp
				img(src="img/gulp-icon.png")
			
		include templates/structure/footer
		include templates/structure/scripts